<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body class="main-body">
  <%- include('partials/_header') %>
  <div class="container">
    <h2 class="quiz-title">Welcome to our Quiz App!</h2>
    <p>
      How well do you know your favorite subjects? Take a quiz and find out! Choose from a variety of public available quizzes like
      History, Science and more. Answer multiple-choice questions and learn something new with
      each attempt.
    </p>
    <p>
      Create an free account with us to create your own quizzes. Sharing the quiz or results with your friends is as easy as
      sharing a link.
    </p>
    <p>
      <a href="/quizzes" class="start-button">Begin</a>
    </p>
  </div>
  <footer>

  </footer>
</body>

</html>
