<!DOCTYPE html>
<html lang="en">
  <head>
    <title>quiz-settings</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/quiz-settings.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="flex">
      <h2>Quiz Settings: </h2>
      <h2><%= quiz.title %></h2>
    </div>
    <form class="quiz-settings-form" action="/quiz-settings/:id" method="POST">
      <div class="flex-column">
        <H4>Title</H4>
        <textarea id="title" name="title" cols="40"><%= quiz.title %>
        </textarea>
        <H4>Description</H4>
        <textarea id="description" name="description" cols="40"><%= quiz.description %></textarea>
      </div>
      </br>
        <button class="button1">Add Question</button>
        <%for (let question in quizQuestions) {%>
          <div class="flex">
            <h5><%= quizQuestions[question].title %></h5>
            <button class="button1">Edit</button>
            <button class="button1">Delete</button>
          </div>
        <% } %>
      </div>
      <div class="flex">
        <input type="checkbox" id="Private" name="Private" value="Private">
        <label for="Private"> Is this quiz private?</label>
      </div>
      <div>
        <button class="button1" type="submit">SAVE</button>
      </div>
    </form>
  </body>
</html>
