<!-- resultDisplay.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Quiz Result</title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  <div>
    <h1>Your Quiz Result</h1>
    <p>Your score: <%= grade %></p>
    <a href="/quizzes" class="start-button">Start Another Quiz</a>
  </div>
</body>
</html>
