<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  

  <div class="container">
    <h2 class="quiz-title">Welcome to <%= quiz.title %></h2>
    <p>
      <%= quiz.description %>
    </p>
    <p class="instructions">
      Instructions:
      <ul>
        <li>Each question will have multiple options.</li>
        <li>Select the correct answer for each question.</li>
        <li>Attempt all questions; unanswered questions will be considered incorrect.</li>
        <li>If you are taking an unlisted quiz, it won't appear on the home page but can be accessed via the direct link.</li>
        <li>Share your quiz results with friends by copying and sharing the results link.</li>
        <li>Click the "Submit Quiz" button at the end to see your results.</li>
      </ul>
    </p>
    
    <a href="/quizAttempts/<%=quiz.id%>" class="start-button">Start Quiz</a>
  </div>
  </form>


  </div>
</body>

</html>
